@model EComm.Model.Product


<h2>Detail</h2>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Package)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Package)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDiscontinued)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDiscontinued)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplier.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>|

    <a asp-action="Index">Back to List</a>
</div>
<br />
<form id="addToCartForm" asp-controller="Product" asp-action="AddToCart" asp-route-id="@Model.Id">
    <input name="quantity" size="3" />
    <input type="submit" value="Add to Cart" />

</form>

<div id="message"></div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').submit(function (event) {
                var formData = {
                    'quantity': $('input[name=quantity]').val()
                };
                $.ajax({
                    type: 'POST',
                    url: $('#addToCartForm').attr('action'),
                    data: formData
                })
                    .done(function (response) {
                        $('#message').html(response);
                    });
                event.preventDefault();
            });
        });
    </script>
}


